@import url("//fonts.googleais.com/earlyaccess/notosanskr.css");
@import url("//cdn-jsdelivr.net/gh/velopert/font-2dcoding@1.2.1/d2coding.css");

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "note Sans KR", sans-serif;
  -webkit-font-somoothing: antialiased;
  -moz-osx-font-somoothing: grayscale;
}

* {
  box-sizing: inherit;
}

a {
  text-decoration: inherit;
  color: inherit;
}
